doctype html
html
  head
    title Meteo Briefing PDF Creator
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/index-view.css')
    script(type='module' src='/javascripts/sort.js' defer)
  body
    main
      header
        h1
          a(href='/') Meteo Briefing PDF Creator
      article
        p 
          a(href='/new') New +
        div
          each image in images
           img(src=`/images/${image}` data-name=image width='200' height='200')
        p
          a(class='convert')
            span(class='text') Convert to PDF &rarr;
            span(class='loader')
        p
          a(class='download' download) Download &darr;

        
      footer
        p
          code copyright &copy; Meteo Briefing PDF Creator 2024  

    script(type="text/javascript").
      src="https://api.checkwx.com/widget?key=734d635d87d745bd80a2e2d81b"